.historique2 {
    height: auto;
    font-family: 'Mystery Quest', cursive;
    margin-bottom: -5px;
    display: inline-flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #030303;
    color: #ffffff;
    padding: 0.5em;
    outline: 1px solid #888888;

}